name: Static Build


on:
  push:
    branches:
      - main

jobs:
  build:
    if: github.repository == "ecrespo/reflex_resume"
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python
        with:
          python-version: "3.13"

      - name: Run build script
        run: bash remote_build.sh

      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update static build
          commit_user_name: Ernesto Crespo [Github Actions]
          commit_user_email: ecrespo@gmail.com
          commit_author: Ernesto Crespo <ecrespo@gmail.com>
